.article {
  display: grid;
  margin: 5em 0;
}

.imgLeft {
  grid-template-areas:  "header header header header"
                        "img img text text";
}

.imgRight {
  grid-template-areas:  "header header header headr"
                        "text text img img";
}

.article > * {
  margin: 1em 0;
}

.title {
  grid-area: header;
}

.text {
  grid-area: text;
  margin: 0;
  /* width: 85%; */
}

.img {
  grid-area: img;
}

.imgLeft p {
  margin-left: 5em;
}

.imgRight p {
  margin-right: 5em;
}

.logos {
  display: block;
}

.logos svg:not(:first-child) {
  margin-left: .5em;
}

.article .img {
  align-self: center;
}

.article .img > span {
  -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.34) !important; 
  box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.34) !important;  
}

@media (max-width: 1200px) {
  .article {
    grid-template-areas:  "header header header"
                          "img img img"
                          "text text text";
  }

  .article img {
    margin: 0;
  }
}

@media (max-width: 667px) {
  .article img {
    max-width: 65vw;
  }
}
