.contact {
  max-width: 50em;
}

.contact div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.contact label {
  margin-bottom: .5em;
}

.contact input, .contact textarea {
  border: 1px solid #1f1f1f;
  border-radius: 2px;
  background-color: #f5f5f5;
  padding: .5em;
}

.contact .submit {
  margin-top: 2em;
}
