.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.footer * {
  font-size: 1rem;
}

.footer ul {
  display: flex;
  margin: 2em 0;
}

.footer .language {
  justify-self: center;
}

.footer .social {
  justify-self: flex-end;
  margin: 2em;
}

.footer .social * {
  font-size: 1.5rem;
  margin: 0 .25em;
  padding: 0;
}

.footer ul li {
  padding: .5em;
}

.footer button {
  border: none;
  background-color: inherit;
  text-decoration: underline;
  color: inherit;
}

.footer .separator {
  font-size:.35rem;
  align-self: center;
}
