.header {
  background-color: #dfe4ea;
  display: flex;
  margin-left: 15vw;
  padding-top: 4em;
  height: 100vh;
}

.headerImg {
  height: 100%;
  display: flex;
  align-items: center;
}

.header img {
  max-width: 15em;
  height: 15em;
  border-radius: 100% ;
  margin: 10em; 
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerText h3 {
  font-weight: 400;
}

.even {
  background-color: #dfe4ea;
}

.section   {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section * {
  width: 50vw;
}

.sectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.sectionText h2 {
  margin: .5em 0;
}

.section img {
  max-width: 35em;
  margin: 2.5em;
  -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.34); 
  box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.34);
}