.section   {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bgColor {
  background-color: #dfe4ea;
}

.sectionContent {
  width: 65vw;
}

@media (max-width: 594px) {
  .section {
    height: fit-content;
    padding: 2em 0;
  }
}
